<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yk.mediademo">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediaDemo">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.TextureViewCameraActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.activity.TakePhotoActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.activity.RecordVideoActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.activity.ImageShowActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.activity.VideoShowActivity"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".ui.activity.ImageListActivity" />
        <activity android:name=".ui.activity.VideoListActivity" />

        <activity
            android:name=".ui.activity.ImageTransitionActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.activity.ImageTransition2Activity"
            android:theme="@style/FullscreenTheme" />

        <activity android:name=".ui.activity.PcmActivity" />
        <activity android:name=".ui.activity.YuvActivity" />
    </application>

</manifest>